@section styles {
    <style>
        h2 {
            background: lightcoral;
        }
    </style>
}

@section scripts {
    <script>
        $(document).ready(function(){
            $("#botonvista").click(function(){
                $("#mensajevista").text("Boton pulsado en View")
            })
        })
    </script>
}

<h1 style="color: green">Index</h1>
<h2 style="color:blue" id="mensajevista">
    Mensaje en vista
</h2>
<button class="btn btn-outline-danger" id="botonvista">
    Pulsar en View
</button>